#options-form {
    max-width: calc(100% - 2rem);

    #action-button-row {
        position: fixed;
        bottom: 1rem;
    }

    .list {
        background-color: #3D3D3D;
        justify-content: start;
        max-height: 300px;
        overflow: scroll;
        width: 100%;
        border-radius: 12px;

        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin: 0;

            img {
                object-fit: contain;
                object-position: center;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                --size: 128px;
                width: var(--size);
                height: var(--size);
                aspect-ratio: 1;
                margin-right: 10px;
            }

            &:hover {
                background: #a19797;
                color: var(--background);
                font-weight: 700;
            }
        }

        input[type="radio"] {
            visibility: hidden;
            position: absolute;

            &:checked + label {
                background: var(--primary);
                color: var(--background);
                font-weight: 700;
            }
        }

    }

    #column-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        gap: 1rem;
        flex-wrap: wrap;

        .column-item {
            cursor: grab;
            background-color: #3d3d3d;
            padding: 1rem;
            border-radius: 5px;
            transition: background-color .2s;
            flex-grow: 1;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: flex;
            align-items: center;

            .attributes {
                background-color: #3D3D3D;
                padding: 1rem;
                margin: 0 1rem;
                border-radius: 100px;
                gap: 5px;

                i {
                    cursor: pointer;
                    transition: opacity .2s;
                    opacity: .5;
                    padding: 5px 1rem;
                    border-radius: 100px;

                    &.active {
                        opacity: 1;
                        background-color: #121212;
                    }


                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &.hidden {
                opacity: .5;
                cursor: default;
                transition: opacity .2s;

                i.fa-grip-vertical {
                    display: none;
                }

                &:hover {
                    opacity: .8 !important;
                }

            }

            i {
                cursor: pointer;
                transition: opacity .2s;
                opacity: .5;
                padding: 1rem 2rem;
                border-radius: 100px;

                &.fa-grip-vertical {
                    cursor: grab;
                    pointer-events: none;
                }

                &:hover {
                    opacity: 1;

                    &.fa-ellipsis-vertical {
                        background-color: #1E1E1E;
                    }
                }
            }

            .name {
                padding-inline: 1rem;
                text-align: center;
            }

            input.name {
                cursor: text;
                padding-block: 0;
                text-align: start;
                min-width: 1rem;
                margin: 0;
                background: transparent;
            }

            &:not(.hidden):hover {
                background-color: #2f2f2f;
            }


            &.dragging:hover {
                background-color: #6a7b68;
            }
        }
    }

    #action-button-row > button {
        width: 300px;
    }
}
