nav {
    background: black;
    padding: 1rem;
    margin-bottom: 2rem;
    width: calc(100% - 2rem);
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#content>* {
    width: 80%;
}

#logo-image {
    height: 100px;
    margin-right: 2rem;
}

#search-area {
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 0;
}

#search-area input[type=search] {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid hsla(0, 0%, 0%, 0.5);
}

#search-area #clear-search {
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#search-area input[type=search]:focus {
    border: 1px solid var(--primary);
    outline: none;
}

#count-area span {
    padding: 0 5px;
}

#count-area select {
    width: 4rem;
}

#footer {
    margin: 1rem 0;
    padding: 1rem;
}

.page-item {
    margin: 0 5px;
}

.page-item :not(.secondary):hover {
    background: var(--primary);
    color: white;
}


#icon-list.list .list-item {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    margin: 1rem;
    text-align: center;
}

#icon-list.list .list-item:hover {
    cursor: pointer;
    background: hsla(0, 0%, 0%, 0.15);
}

#icon-list.list .list-item.selected {
    background-color: var(--primary);
    color: white;
}

#icon-list.list .list-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 1rem;
}


.row-item {
    font-size: .8rem;
    background-color: var(--primary);
    color: white;
    padding: 5px 10px;
    border-radius: 100px;
    transition: color, background-color;
    transition-duration: 100ms;
}

.row-item:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
}

.comparison-input {
    font-size: 1.3rem;
    margin: 10px 0;
}