:root {
    --primary: #44FE63;
    --background: #0B0B0B;
}

body {
    color-scheme: dark;
    background-color: var(--background);
    color: white;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.error {
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.row, .col, .center, .fill, .grid {
    display: flex;
}

.grid {
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.center.horizontal {
    justify-content: center;
}

.center.vertical {
    align-items: center;
}

.center:not(.horizontal):not(.vertical) {
    justify-content: center;
    align-items: center;
}

.fill {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}
