.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity, transform;
    transition-duration: 100ms;
}

.popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

.popup.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.popup .popup-header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    padding: 1rem;
    background: var(--primary);
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
}

.popup .popup-content {
    position: absolute;
    background: white;
    padding: 2rem;
    padding-top: 6rem;
    border-radius: 5px;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    opacity: 0;
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-delay: 100ms;
    max-height: 500px;
}

.popup .popup-content .popup-body{
    overflow-y: scroll;
    width: 100%;
    max-height: inherit;
    padding-right: 1rem;
    padding-right: 1rem;
}

.popup.active .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%);
}


.popup .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: auto;
    transform: translateX(-50%);
    width: calc(50% - 2rem);
}

.popup input {
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: hsl(0, 0%, 95%);
    color: black;
    margin-bottom: 1rem;
}

.popup input:focus {
    outline: none;
    border-color: var(--primary);
}