table {
    border-collapse: collapse;
    width: 100%;
}

table thead {
    background: hsl(0, 0%, 10%);
    color: white;
}

table thead tr th {
    position: relative;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: capitalize;
}

table thead tr th[direction=asc]::after {
    content: '▲';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

table thead tr th[direction=desc]::after {
    content: '▼';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

table.search-table thead tr th:not(:first-child):hover, table.search-table.list-view thead tr th:hover {
    cursor: pointer;
    background: hsl(0, 0%, 20%);
}

table #table-body {
    position: relative;
    height: 100px;
    min-height: 100px;
}

table tbody tr {
    background: transparent;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
    transition: background 100ms;
    font-size: 1rem;
}

table tbody tr:hover, table tbody tr.selected {
    cursor: pointer;
    background: var(--primary);
    color: white;
}
table tbody tr.selected{
    filter: brightness(1.2) contrast(1.2);
}

table tbody tr td {
    padding: 1rem;
    height: 4rem;
}

table tbody tr td:first-child {
    width: 50px;
}

table tbody td.location-icon, table th:first-child {
    --size: 50px;
    max-width: var(--size);
    min-width: var(--size);
    width: var(--size);
    height: auto;
    object-fit: cover;
}

table tbody td.location-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table:not(.list-view) tbody tr td:nth-child(2), table:not(.list-view) th:nth-child(2) {
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
    width: 50%;
}

table.list-view td, table.list-view th {
    width: 100vw !important;
}

table#admin-action td:nth-child(2) {
    text-align: end;
}